* {
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 20px;
    background-image: url(../img/bc.jpg);
    background-size: 100%;
    height: 1450px;
    /* opacity: 0.5; */
    margin: 0 auto;
}

.col-md-3 {
    height: 260px;

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midc {
    width: 60%;
    margin: 0 auto;

}

#main {
    opacity: 0.8;
}

.c1 {
    width: 100%;
    float: left;
}

.specials-info img {
    height: 230px;
}


.header {
    color: white;
    height: 129px;
    background: #666666 center repeat-y;
    width: 100%;
    position: relative;
    z-index: 3000;
}

.nav {
    height: 76px;
    width: 100%;
    background: #fff;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2000;

}

.nav ul {
    display: flex;
    justify-content: center;
    height: 76px;
    width: 990px;
    margin: 0px auto;
}

.nav ul li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    height: 76px;
}

.nav ul li a.link {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    padding: 0px 24px;
    height: 76px;
    line-height: 76px;
    font-size: 18px;
    color: #444;
    font-family: Microsoft Yahei, 黑体;
    font-weight: bold;
    position: relative;
}

.nav ul li a.link strong {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    height: 76px;
}

.nav ul li a.link:hover strong {
    cursor: pointer;
}

.nav ul li.current a strong {
    border-bottom: 4px solid black;
    height: 72px;
    overflow: hidden;
}

.nav ul li.on a.link {
    background: #fafafa;
}

.nav ul li a strong:hover {
    height: 72px;
    border-bottom: 4px solid black;
}


.desteam {
    width: 900px;
    height: 310px;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
}

.desteam2 {
    width: 900px;
    height: 210px;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
}

.desteam3 {
    width: 900px;
    height: 220px;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
}

.imgs {
    background-color: red;
    display: flex;
}

.text {
    margin-left: 30px;
    padding-right: 20px;
}